:root {
    --graph-card-bg: rgba(255, 255, 255, 0.17);
}

.graph-card {
    background-color: var(--graph-card-bg);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px;
    backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

